.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media(max-width: 767px){
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px dotted grey;
}

.form__button {
    padding: 10px;
    background: darkblue;
    color: white;
    border: none;
}

.form__button:hover {
    background: rgb(59, 59, 168);
}