.form {
    min-width: 200px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    padding: 20px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px dotted grey;
    margin: 10px;
}

.form__button {
    padding: 10px;
    margin: 10px;
    background: teal;
    color: white;
    border: none;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
}

.form__button:hover {
    background: rgb(78, 187, 187);
    transform: scale(1.1);
}

.form__button:active {
    background: rgb(104, 185, 185);
    transform: scale(1.1);
}