html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Sofia Sans', sans-serif;
}

.container {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}

.section {
    margin: 10px 0;
    background: white;
    box-shadow: 0 0 5px grey;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.section_body {
    padding: 20px;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}