.tasks {
    list-style: none;
    margin: 0; 
    padding: 20px;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dotted grey;
}

tasks__item--hidden {
    display: none;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button--toggleDone {
    background: green;
    align-self: center;
    transition: background-color 1000ms;
}

.tasks__button--toggleDone:hover {
    background: rgb(15, 165, 15);
}

.tasks__button--remove {
    background: red;
    transition: background-color 1000ms;
    
}

.tasks__button--remove:hover {
    background: rgb(212, 70, 70);
}

.tasks__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: background 0.4s;
}