.tasks {
    list-style: none;
    margin: 2px;
    padding: 20px;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dotted grey;
}

.tasks__item--hidden {
    display: none;
}

.task__content--done {
    text-decoration: line-through;
}

.tasks__button--toggleDone {
    background: green;
    align-self: center;
    transition: background-color 1000ms;
    cursor: pointer;
}

.tasks__button--toggleDone:hover {
    background: rgb(15, 165, 15);
}

.tasks__button--toggleDone:active {
    background: rgb(75, 199, 75);
}

.tasks__button--remove {
    background: red;
    align-self: center;
    transition: background-color 1000ms;
    cursor: pointer;
}

.tasks__button--remove:hover {
    background: rgb(212, 70, 70);
}

.tasks__button--remove:active {
    background: rgb(214, 98, 98);
}

.tasks__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: background 0.4s;
}